@import "tailwindcss";
@import "./base.css";

#app {
  width: 100%;
  font-weight: normal;
  position: relative;
}

/* Canvas */
canvas {
  shape-rendering: crispEdges;
}

/* Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* 400 */
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold; /* 700 */
  font-style: normal;
}

.inter-normal-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* 400 */
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic; /* 700 */
}

/* Custom transitions */
.custom-transition-default {
  transition: all 0.3s ease-in-out;
}

.custom-transition-fast {
  transition: all 0.2s ease-in-out;
}

.custom-transition-slow {
  transition: all 0.5s ease-in-out;
}

/* Arrow icon animations */
@keyframes bobbing-left-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

.custom-btn:focus > .right-to-down-arrow {
  transform: rotate(90deg);
}

.custom-btn:focus > .right-bobbing-arrow {
  animation: 0.4s infinite alternate ease-in-out bobbing-left-right;
}

.custom-btn:focus > .external-link-arrow,
.custom-link:focus > .external-link-arrow {
  transform: translate(4px, -4px);
}

@media (hover: hover) {
  .custom-btn:hover > .right-to-down-arrow {
    transform: rotate(90deg);
  }

  .custom-btn:hover > .right-bobbing-arrow {
    animation: 0.4s infinite alternate ease-in-out bobbing-left-right;
  }

  .custom-btn:hover > .external-link-arrow,
  .custom-link:hover > .external-link-arrow {
    transform: translate(4px, -4px);
  }
}
